/*BARRA DE NAVEGACION*/
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
/*ESTILOS GENERALES*/
section {
  display: flex;
  flex-direction: column;
}

/*SECCION HERO*/
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

/*ADAPTABLE (RESPONSIVO)*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
