.h1 {
  background-color: rgb(221, 132, 24);
  border: 3px solid rgb(103, 70, 5);
  padding: 5px;
  margin: 10px;
}
.columna {
  background-color: rgb(20, 87, 220);
  color: aliceblue;
  font-size: 25px;
  border: 5px solid #edebec;
  margin: 3px;
}

h1 {
  color: chartreuse;
  font-size: 250px;
  margin: 15px;
}
